body{
    font-family: "Yugioh", serif;
    background-image: url(../imagens/fundo-site.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    gap: 30px;
}
.cabecalho{
    display: flex;
    justify-content: center;
}
.cabecalho .titulo{
    color: #ccf309;
    -webkit-text-stroke: 2px #140101;
    font-size: 36px;
    text-shadow: 
        0 0 5px #c2e612,
        0 0 10px #f5f5f5,
        0 0 20px #000000,
        0 0 40px #00fffc; /* brilho interno/externo */
}
.cartao{
    opacity: 0;
    display: flex;
    flex-direction: column;
    padding: 0px;
    position: absolute;
    width: 300px;
    height: 450px;
    background: #d9b77b; /* bege clássico */
    border: 7px solid;
    border-image: linear-gradient(45deg, rgb(26, 24, 24), rgb(43, 41, 37), rgb(71, 71, 68)) 1;    
}
.cartao.selecionado{
    opacity: 1;
    z-index: 1;
}
.lista-personagens{
    width: 300px;
    height: 500px;
    border-radius: 10px;
    position: relative;
}
.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
}
.cartao .nome{
    margin: 0.48cm;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    padding: 10px 10px 10px 10px;
    background: radial-gradient(circle, #f3e2c8, #e4cfa5, #c4a57a);
    border: 1px solid #000;
    box-shadow:
    inset 0 2px 0 #f8eac7,     /* brilho em cima (relevo) */
    inset 0 -2px 0 #b08443,    /* sombra embaixo (relevo) */
    0 1px 0 #000;              /* leve queda para fora */
}
.cartao .estrela{
    width: 18px;
    height: 18px;
    margin-bottom: 3px;
    background-image: url(../imagens/nivel-carta.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}
.cartao .nivel-carta {
    display: flex;
    justify-content: flex-end;
    gap: 3px;
    margin: 5px 21px 0 0px;
}
.cartao .imagem-carta{
    max-width: 260px;
    align-self: center;
    width: 240px;
    height: 230px;
    margin: auto;
    margin-top: 3px;
    border: 5px solid;
    background-color: #000; /* borda preta clássica */
    border-image: linear-gradient(45deg, rgb(26, 24, 24), rgb(43, 41, 37), rgb(71, 71, 68)) 1;
    object-fit: cover;
}
.cartao .nome-carta .atributo {
    width: 30px;
    height: 30px;
    background-image: url(../imagens/atributo-earth.png); /* exemplo */
    background-size: contain;
    background-repeat: no-repeat;
}
.cartao .informacoes{
    max-width: 260px;
    align-self: center;
    border-radius: 0px;
    color: #000;
    background: radial-gradient(circle, #f3e2c8, #e4cfa5, #c4a57a);
    border: 3px solid #775737;
    text-align: left;
    line-height: 1.5;
    font-size: 8px;
    margin: 13px;
    padding: 5px;
}
.cartao .informacoes .informacoes-ataque {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    font-weight: bold;
    font-size: 0px;
}
.cartao .informacoes .informacoes-ataque span{
    font-size: 13px;
}
.cartao .informacoes .descricao{
    border-bottom: 1px solid #000;
    height: 60.8px;
    overflow-y: auto; /* scroll só aparece se necessário */
    overflow-x: hidden; /* evita scroll horizontal */
}
.fundo-1{
    background: url(../imagens/fundo-1.jpg) no-repeat;
}
.fundo-2{
    background: url(../imagens/fundo-2.jpg) no-repeat;
}
.fundo-3{
    background: url(../imagens/fundo-3.jpg) no-repeat;
}
.fundo-4{
    background: url(../imagens/fundo-4.jpg) no-repeat;
}
.fundo-5{
    background: url(../imagens/fundo-5.jpg) no-repeat;
}
.fundo-6{
    background: url(../imagens/fundo-6.jpg) no-repeat;
}
.fundo-7{
    background: url(../imagens/fundo-7.jpg) no-repeat;
}
.btn-seta{
    background-color: #fff;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.btn-seta.btn-voltar{
    transform: rotateY(180deg);
}
.btn-seta:hover{
    background-color: #8351fe;
}
body::-webkit-scrollbar-track{
    background-color: #c08057;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #c08057;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #c08057;
}
.luz-pulsante {
      width: 300px;
      height: 450px;
      background-color: #0ff;
      border: 0px;
      position: relative;
      animation: pulsar 2s infinite alternate;
      box-shadow: 0 0 20px #0ff, 0 0 40px #0ff, 0 0 60px #0ff;
    }

    @keyframes pulsar {
      0% {
        box-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff;
        transform: scale(1);
      }
      0% {
        box-shadow: 0 0 30px #0ff, 0 0 60px #0ff, 0 0 90px #0ff;
        transform: scale(1);
      }
      0% {
        box-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff;
        transform: scale(1);
      }